.page-node #content-body .group-important-dates.group_s_postcard_image .field {
	margin-bottom: 1em;
}
.field-group-div .well h2 {
 	font-size: 22px;
 }
.node .group-important-dates.group_s_postcard_image {
	width: 283px;
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
	max-width: 50%;
}
